
.vs/RoomSizeChanger/v16/Server/sqlite3/db.lock
.vs/InfinitePlanetResources/v16/.suo
.vs/InfinitePlanetResources/v16/Server/sqlite3/storage.ide
.vs/InfinitePlanetResources/v16/Server/sqlite3/storage.ide-shm
.vs/InfinitePlanetResources/v16/Server/sqlite3/storage.ide-wal
.vs/Pope'r Power Plant/v16/Server/sqlite3/db.lock
.vs/Pope'r Power Plant/v16/Server/sqlite3/storage.ide-wal
.vs/Pope'r Power Plant/v16/.suo
